img {
    padding: 2vw;
    border-radius: 50px;


}

#dagligdagen img {
    max-width: 800px;
    max-height: auto;
    width: 100%;
}

#traditioner img {
    max-width: 600px;
    max-height: auto;
    width: 100%;
}

/*--menu--*/

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: rgba(255, 175, 24, 0.98);
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.menu li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(255, 175, 24, 0.98);
}

.menu a {
    font-family: 'Amatic SC', bold;
    font-size: 2.5em;
    line-height: 20px;
}

/** drop down menu **/

<style > .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: 'Amatic SC', cursive;
}

.navbar a {
    float: left;
    font-size: 2.5em;
    line-height: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 2.5em;
    line-height: 30px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Amatic SC', cursive;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(255, 175, 24, 0.98);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

</style >
/** Flexbox Start **/

#forside {
    display: flex;
    flex-wrap: wrap;


}


#forside .rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#forside .content {
    flex-grow: 1;
    flex-basis: 300px;
}

#forside .bottom_rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#forside .bottom_content {
    flex-grow: 1;
    flex-basis: 300px;
}

#om_os {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;

}

#dagligdagen {
    display: flex;
    flex-wrap: wrap;
}

#traditioner {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-grow: 1;
    flex-basis: 600px;
}

.rows {
    display: flex;
    flex-wrap: wrap;
}

.txt {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 1vw;
}

.image {
    flex-grow: 1;
    flex-basis: 600px;
}

.top {
    flex-grow: 1;
    flex-basis: 300px;
}

.bottom {
    flex-grow: 1;
    flex-basis: 300px;
}

.test {
    display: flex;
    flex-wrap: wrap;
}

/** Flexbox Slut **/

/**Font Start **/

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.4em;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    color: #43722a;
}


h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.7em;
}

/** Font Slut **/

#forside {
    text-align: center;
    justify-content: center;
    padding: 6vw;
}

/*YouTube embed (responsiv) start*/

.responsive {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    /*     16:9 Aspect Ratio */
}

.responsive iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
    top: 0;
    left: 0;
}

/*YouTube embed (responsiv) start*/

#om_os {
    text-align: center;
    justify-content: center;
    padding: 6vw;
    flex-direction: row;
}

#dagligdagen {
    margin: 5vw;
}

#traditioner {
    margin: 5vw;
}

#praktisk_info {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 8vw;
}


footer {
    font-size: 1.3em;
    padding: 3px;
    color: black;
    text-align: center;
    background-color: #ddd;
}
