img {
    padding: 2vw;
    border-radius: 50px;
}

/*--menu--*/

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: rgba(255, 175, 24, 0.8);
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */

.menu li a:hover {
    background-color: rgba(255, 175, 24, 0.98);
}

.menu a {
    font-family: 'Amatic SC', bold;
    font-size: 2.5em;
    line-height: 20px;
}


/** Flexbox Start **/

#forside {
    display: flex;
    flex-wrap: wrap;
}

#om_os {
    display: flex;
    flex-wrap: wrap;
}

#dagligdagen {
    display: flex;
    flex-wrap: wrap;
}

#traditioner {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-grow: 1;
    flex-basis: 600px;
}

.rows {
    display: flex;
    flex-wrap: wrap;
}

.txt {
    flex-grow: 1;
    flex-basis: 600px;
    padding: 1vw;
}

.image {
    flex-grow: 1;
    flex-basis: 600px;
}

.top {
    flex-grow: 1;
    flex-basis: 600px;
}

.bottom {
    flex-grow: 1;
    flex-basis: 600px;
}

/** Flexbox Slut **/

/**Font Start **/

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.4em;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    color: #43722a;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.7em;
}

/** Font Slut **/

#forside {
    text-align: center;
    justify-content: center;
    padding: 6vw;
}

#om_os {
    text-align: center;
    justify-content: center;
    padding: 6vw;
}

#praktisk_info {
    text-align: center;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 8vw;
}
